.detail-nav {
    display: flex;
    justify-content: space-around;
}

.backButton {
    color: white;
    background: transparent;
    border: none;
    text-decoration: none;
    font-size: 1em;
}

.backButton-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin-top: .3vh;
  margin-bottom: .4vh;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.backButton-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: rgba(26, 28, 28, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.backButton-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    #274046,
    #3c626b,
    #395961,
    #1c3035,
  );
}

.backButton-front {
  display: block;
  position: relative;
  padding: .7vh .7vw;
  border-radius: 12px;
  background: #274046;
   /* rgb(64, 91, 106); */
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .backButton-front {
    font-size: 1rem;
    /* padding: 12px 42px; */
  }
}

.backButton-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.backButton-pushable:hover .backButton-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.backButton-pushable:active .backButton-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.backButton-pushable:hover .backButton-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.backButton-pushable:active .backButton-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.backButton-pushable:focus:not(:focus-visible) {
  outline: none;
}